.navbar {
    height: 10vh !important;
    display: flex;
    justify-content: center;
    align-items: center;
}


.portfolio-header {
    font-size: 42px;
    letter-spacing: 2px;
    border-right:5px solid aliceblue ;
    width: 100%;
    overflow: hidden;
    animation:
        typing 2s ,
        cursor .4s step-end infinite alternate;
}


@keyframes cursor {
    50% {border-color: transparent;}
}

@keyframes typing {
    from {width: 0}
}


@media screen and (max-width:767px) {
    .navbar {
        margin-top: 20px;
    }
}
  
@media screen and (min-width:768px) and (max-width:1023px) {
    .navbar {
        margin-top: 20px;
    }
}