.who {
  height: 110vh !important;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
}


.who-main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.who-left {
  flex: 1;
  margin-top: 100px;
  margin-bottom: -180px;
}


.who-right {
  max-width: 1080px;
  flex: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.modal, .overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49,49,49,0.8);
}

.modal-content {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background-color: rgb(94, 161, 220);
  padding: 46px 38px;
  border-radius: 22px;
  max-width: 600px;
  min-width: 200px;
  height: 160px;
  border: 1px solid black;
}


.text-modal {
  text-align: justify;
  text-align-last: center ;
}


.text-modal a {
  color: blueviolet;
}


@media screen and (max-width:767px) {
  .who {
    width: 100%;
    height: 100%;
  }

  .who-right h1{
    display: none;
  }

  .who-main-content {
    height: 90%;
    width: 100%;
    margin: 24px;
  }

  .modal-content {
    height: 50%;
  }

  .text-modal {
    line-height: 1.2;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .who {
    width: 100%;
    height: 100%;
  }

  .who-right h1{
    display: none;
  }

  .who-main-content {
    height: 90%;
    width: 100%;
    margin: 24px;
  }

  .modal-content {
    height: 50%;
  }

  .text-modal {
    line-height: 1.2;
  }
}