.hint {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 180px;
    height: 70px;
    padding: 24px;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: absolute;
    top: 40px;
    right: 30px;
    text-align: start;
}


.hint-text {
    font-size: 12px;
}
