.hero {
  height: 100vh !important;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.hero-left {
  flex: 2;
  max-width: 1080px;
  text-align: justify;
  margin-bottom: -200px;
}


.hero-right {
  width: 700px;
  flex: 2;
  position: relative;
}


.photo {
  user-select: none;
  width: 400px;
  height: 400px;
  object-fit: contain ;
  position: absolute;
  bottom: 110px;
  left: 166px;
  animation: animate 3s infinite ease alternate;  
}


@keyframes animate {
  100% {
    transform: translateY(10px);
  }
}


@media screen and (max-width:767px) {
  .hero {
    width: 100%;
  }

  .hero-left {
    margin: 24px;
    font-size: 10px;
    width: 85%;
    height: 100px;
  }

  .hero-right {
    display: none;
  }
  
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .hero {
    width: 100%;
  }

  .hero-left {
    margin: 24px;
    font-size: 10px;
    width: 80%;
    height: 100px;
  }

  .hero-right {
    display: none;
  }
}